/**************************
* layout defaults
***************************/

:root {
  --font-sans-serif: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --tan: #caad8e;
  --teal: #425664;
  --lt-gray: #d3d1cf;
  --white: #ffffff;

}
html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

/**************************
* typography
***************************/
body {
font-family: var(--font-serif);
color: var(--teal);
line-height: 1.667;
}

h1,h2 {
font-family: var(--font-sans-serif);
letter-spacing: 0.1em;
font-weight: 300;
font-size: medium;
text-transform: uppercase;
}
h2 {
  font-weight: 400;
  font-size: smaller;
}
h3,h4 {
  font-family: var(--font-serif);
  font-weight: 700;
  font-size: smaller;
}
  h4 {
    color: var(--tan);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/**************************
* components
***************************/
.component img {
  max-width: initial;
}
.component__img {
  border: 1px solid teal;
  overflow-x: auto;
}
