/**************************
* layout defaults
***************************/

:root {
  --font-sans-serif: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --tan: #caad8e;
  --lt-tan: #f2ece7;
  --teal: #425664;
  --lt-gray: #d3d1cf;
  --white: #ffffff;

}
html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}
/**************************
* typography
h2 {
    font-weight: 400;
    font-size: smaller;
  }
***************************/
body {
  font-family: var(--font-serif);
  color: var(--teal);
  line-height: 1.667;
  margin: auto;
  padding: 0;
  }
  
  h2 {
  font-family: var(--font-sans-serif);
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: medium;
  text-transform: uppercase;
  }
  
  h3,h4 {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: smaller;
  }
  h4 {
    color: var(--tan);
  }

/**************************
* header
***************************/

.upper-nav-container {
  display: flex;
  background-color: var(--lt-tan);
  padding: .5em 2em;
}
.col {
  flex: 1;
}

.right-content {
  display: flex;
  justify-content: flex-end;
}
.upper-nav-container a {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: small;
  color: var(--teal);
  text-decoration: none;
}
.upper-nav-item {
padding: .5em ;
}
.main-nav-container {
  display: flex;
  background-color: var(--lt-white);
  padding: .5em 2em;
}
.center-main-content,
.right-main-content,
.left-main-content
 {
  display: flex;
  justify-content:center;
}
.main-nav-container a {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: small;
  color: var(--teal);
  text-decoration: none;
  align-items: center;
}
.main-nav-item {
  padding: .5em ;
}
h1 {
  color: white;
}
/**************************
* logo???
***************************/
  img {
    max-width:55%;
    height:55%;
}
/**************************
* Side Bar in Nav
***************************/
.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--teal);
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: small;
  color: var(--white);
  text-decoration: none;
  align-items: center;
}
.sub-nav li {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: small;
  color: var(--white);
  text-decoration: none;
  align-items: center;
}
/**************************
* hero
***************************/
.hero-content-container {
  display: flex;
  background-color: var(--teal);
  padding: .5em 2em;
}
.hero-content-name {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: small;
  color: var(--white);
  text-decoration: none;
  align-items: center;
}
h3 {
  font-weight: 400;
  font-size: large;
}
h4 {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: small;
  color: var(--white);
  text-transform: uppercase;
}
.i {
color: var(--white);
}
.hero-content-img {
  display: flex;  
  justify-content: right;
  max-width: 100%;
  height:100%;
  
}
/**************************
* Shopper
***************************/
.shopper-container-container {
  display: flex;
  background-color: var(--lt-tan);
  padding: .5em 2em;
}
.shopper-container {
  display: flex;
  background-color: var(--white);
  padding: .5em 2em;
}
.shopper-headline {
font-family: var(--font-serif);
font-weight: 400;
font-size: small;
color: var(--teal);
text-decoration: none;
align-items: left;
}
p {
  font-family: var(--font-serif);
  font-weight: 300;
  font-size: xx-small;
  color: var(--gray);
}
.shopper-card {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 80%;
height:100%;
}
.shopper-card-img {
max-width: 80%;
height: 80%;
}
.shopper-button {
display: flex;
justify-content: center;
background-color: var(--tan);
padding: .1em 1em;
max-width: 60px;
height: 20px;
font-family: var(--font-sans-serif);
font-weight: 700;
font-size: xx-small;
color: var(--white);
text-decoration: none;
text-transform: uppercase;
align-items: center;
}
h3 {
  font-size: small;
}
/**************************
* Blog
.blog__copy {
font-family: var(--font-sans-serif);
letter-spacing: 0.1em;
font-weight: 300;
font-size: small;
***************************/
}
.blog-card {
  max-width: 40rem;
  margin: 0 auto;
  padding: 12 rem;
  border: 1px solid teal;
  overflow-x: auto;
}
.blog-card-img {
  max-width: 80%;
  height: 80%;
}
/**************************
* footer
***************************/