<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Components for Venezian Coffee Case Study </title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="component.css"/>
    <link rel="stylesheet" href="../css/normalize.css"/>
  </head>

  <body>
  <h1>Veneziano Coffee Roasters</h1>
  <h2>Web Components</h2>
  
  <!--TYPE section-->
  <section class="type">
  <h1>Typography Defaults</h1>
  
  <article class="component">
      <h2 class="component__name">Headings (h1, h2, h3 & h4)</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>
        <img srcset="img/atoms/vc-h1.png 2x" src="img/atoms/vc-h1.png 2x" alt="h1"/>
        <img srcset="img/atoms/vc-h2.png 2x" src="img/atoms/vc-h2.png 2x" alt="h2"/>
        <img srcset="img/atoms/vc-h3.png 2x" src="img/atoms/vc-h3.png 2x" alt="h3"/>
        <img srcset="img/atoms/vc-h4.png 2x" src="img/atoms/vc-h4.png 2x" alt="h4"/>
      </div>

      <div class="component__code">
        <h6 class="component__label">code</h6>
        <h1>Latest News</h1>
        <h2>Shop Subscriptions</h2>
        <h3>DelAgua Coffee-Neighbors & Crops</h3>
        <h4>News | 1 Nov 2019</h4>
      </div> 
    </article>

    <article class="component">
      <h2 class="component__name">Body Copy</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>
        <img srcset="img/atoms/vc-bodycopy.png 2x" src="img/atoms/vc-h1.png 2x" alt="bodycopy"/>
      </div>

      <div class="component__code">
        <h6 class="component__label">code</h6>
        <p>Experience La Palma & El Tucan’s award winning processing techniques in a different region! The Neighbors & Crops model was established by La Palma & El Tucan to share innovating... </p>
      </div> 
    </article>
  </section>

 <!--HERO section-->
 <h1 class="component__name">Hero Section</h1>
 <section class="hero">
  <article class="component">
  
  <div class="component__img">
    <h6 class="component__label">image</h6>
    <img srcset="img/organisms/vc-o_hero_card2.png 2x" src="img/organisms/vc-o_hero_card2.png 2x" alt="hero section"/>
  </div>

  <div class="component__code">
  
    <!-- Hero Section from index-->
    
    <section class="hero-content-container">
      <div class="component__code">
        <h6 class="component__label">code</h6>
          <div class="hero-content-name">
            <h2>DelAgua Neighbors + Crops</h2>
              <h3>Same varietal, process and region, different producers.</h3>
                <a href="https://venezianocoffee.com.au/shop/"> 
                  <h4> Shop Subscriptions
                  <i class="fas fa-long-arrow-alt-right"></i>
                  </h4> 
                </a>
          </div>
          </div>
            <div class="hero-content-img">
           <img src="./img/molecues/delaquacoffee_blogimage.png" alt="delaqua coffee bag">
        </div> 
    </section>
    <!-- End Hero Section from index-->  

<!--Blog section-->
<h1 class="component__name">Blog Section</h1>
 <section class="blog">
    <article class="component">
      <h6 class="component__label">image</h6>
    
    <h3 class="component__name">Blog Page</h3>
    <div class="component__img">
      <img srcset="img/molecues/vc-m_blog_unit.png 2x" src="img/molecues/vc-m_blog_unit.png 2x" alt="blog"/>
    </div>

    <div class="component__code">
        <h6 class="component__label">code</h6>
        
        <div class="blog__container">
          <img src="./img/molecues/delaquacoffee_blogimage.png" alt="DelAqua Coffee bag"/>
          <h3>DelAqua Coffee - Neighbors & Crops</h3>
          <h4>News | 1 Nov 2019</h4>
          <p class="blog__copy">Experience La Palma & El Tucan's award winning processing techniques in a different region! The Neighbors & Crops model was established...
          </p> 
          <a href="#!" class="button--solid">Read More</a>
        </div>
      </div> 
  </article>
</section>

<!--Nav section-->

<section class="nav">
  <h1>Navigation</h1>
  <article class="component">
    <h2 class="component__name">Top Nav</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>
        <img srcset="img/organisms/vc-o-header.png 2x" src="img/organisms/vc-o-header.png 2x" alt="top nav"/>
      </div>

      <!-- Top Nav Section -->
      <nav class="upper-nav-container">
          <div class="left-content col">
            <a class="upper-nav-item" href="https://venezianocoffee.com.au/about/">About  <i class="fas fa-chevron-down"></i></a>
            <a class="upper-nav-item" href="https://venezianocoffee.com.au/contact/
            ">Contact  </a>
            <i class="fas fa-search upper-nav-item"></i>
          </div> 
          <div class="right-content col">
              <a class="upper-nav-item" href="https://venezianocoffee.com.au/my-account/">Log In</a>
              <a class="upper-nav-item" href="https://venezianocoffee.com.au/my-account/?action=register">Sign Up</a>
          </div>
        </nav>
  
  <!-- Main Nav Section -->
        <nav class="main-nav-container">
              <a class="main-nav-item" href="https://venezianocoffee.com.au/shop/">Shop  <i class="fas fa-chevron-down"></i></a>
  
              <a class="main-nav-item" href="https://venezianocoffee.com.au/coffee-subscriptions/">Subscriptions  <i class="fas fa-chevron-down"></i></a>
  
            <a class="main-nav-item logo"
                href="https://venezianocoffee.com.au/">
              <h1>VENEZIANO Coffee Roasters</h1>
              <img src="img/veneziano_logo_teal.png" alt="VENEZIANO logo">
            </a> 
  
            <a class="main-nav-item" href="#">Wholesale  <i class="fas fa-chevron-down"></i></a>
  
            <a class="main-nav-item" href="https://venezianocoffee.com.au/resources/">Learn  <i class="fas fa-chevron-down"></i></a>
      
          <aside class="side-nav">
            <a href="https://venezianocoffee.com.au/our-cafes/">Our Cafes  <i class="fas fa-chevron-down"></i></a>
          </aside>
        </nav> 
    </article>

<!--Footer section-->
<h1>Footer</h1>
  <article class="component">
    <h2 class="component__name">Main Footer</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>

  <img srcset="img/organisms/vc-o_footer1.png 2x" src="img/organisms/vc-o_footer1.png 2x" alt="footer"/>
  </div>
      <div class="component__code">
      <!-- MAIN FOOTER -->
  <footer>
    <div class="footer-container">
    <div class="left-footer col">
      <ul>
        <li>
          <a href="#"><img src="./img/atoms/veneziano_logo_teal.png" alt="VENEZIANO logo"></a>
        </li>

          <li>
            <a href="https://www.facebook.com/VenezianoCoffeeRoasters">
            <i class="fab fa-facebook-f"></i></a>
          
            <a href="https://www.instagram.com/venezianocoffeeroasters/">
            <i class="fab fa-instagram"></i></a>
          
            <a href="https://www.linkedin.com/company/veneziano-coffee-roasters/">
            <i class="fab fa-linkedin"></i>
            </a>
          </li>

          <li>16-18 River Street, Richmond VIC 3121
          </li>

          <li>
          1326 3333 | sales@venezianocoffee.com.au
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/my-account/">Log In</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/our-cafes/">Cafe Locations</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/my-account/?action=register">Subscribe</a>
          </li>
        </ul>
      </div>

<!-- RIGHT-SIDE OF FOOTER -->
      <div class="right-footer col">
        <div class="col">
          <ul>
            <li>
            <a href="https://venezianocoffee.com.au/wholesale-coffee-australia/">Wholesale</a>
            </li>
          </ul>

          <ul>
            <li>
            <a href="https://venezianocoffee.com.au/resources/">Resources</a>
            </li>

            <li>
            <a href="https://venezianocoffee.com.au/barista-training-courses/">Barista Training</a>
            </li>

            <li>
            <a href="https://venezianocoffee.com.au/events/">Events</a>
            </li>

            <li>
            <a href="https://venezianocoffee.com.au/blog/">Blog</a>
            </li>
          </ul>
        </div>

        <div class="col">
          <ul>
          <li>
          <a href="https://venezianocoffee.com.au/shop/">Shop</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/coffee-subscriptions/">Coffee Subscriptions</a>
          </li>

          <li>
              <a href="https://venezianocoffee.com.au/office-coffee/">Office Coffee</a>
              </li>
        </ul>

        <ul>
          <li>
          <a href="https://venezianocoffee.com.au/about/">About</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/our-people/">Our People</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/coffee-growers/">Growers</a>
          </li>
        </ul>
      </div>

      <div class="col">  
        <ul>
          <li>
          <a href="https://venezianocoffee.com.au/locations-2/">Locations</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/our-cafes/">Cafe Locations</a>
          </li>
        </ul>
      
        <ul>
          <li>
          <a href="https://venezianocoffee.com.au/contact/">Contact us</a>
          </li>

          <li>
          <a href="https://venezianocoffee.com.au/careers/">Careers</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
        


  </body>
  
  </html>