<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Components for Venezian Coffee Case Study </title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="component.css"/>
    <link rel="stylesheet" href="../css/normalize.css"/>
  </head>

  <body>
  <h1>Veneziano Coffee Roasters</h1>
  <h2>Web Components</h2>
  
  <!--TYPE section-->
  <section class="type">
  <h1>Typography Defaults</h1>
  
  <article class="component">
      <h2 class="component__name">Headings (h1, h2, h3 & h4)</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>
        <img srcset="img/atoms/vc-h1.png 2x" src="img/atoms/vc-h1.png 2x" alt="h1"/>
        <img srcset="img/atoms/vc-h2.png 2x" src="img/atoms/vc-h2.png 2x" alt="h2"/>
        <img srcset="img/atoms/vc-h3.png 2x" src="img/atoms/vc-h3.png 2x" alt="h3"/>
        <img srcset="img/atoms/vc-h4.png 2x" src="img/atoms/vc-h4.png 2x" alt="h4"/>
      </div>

      <div class="component__code">
        <h6 class="component__label">code</h6>
        <h1>Latest News</h1>
        <h2>Shop Subscriptions</h2>
        <h3>DelAgua Coffee-Neighbors & Crops</h3>
        <h4>News | 1 Nov 2019</h4>
      </div> 
    </article>

    <article class="component">
      <h2 class="component__name">Body Copy</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>
        <img srcset="img/atoms/vc-bodycopy.png 2x" src="img/atoms/vc-h1.png 2x" alt="bodycopy"/>
      </div>

      <div class="component__code">
        <h6 class="component__label">code</h6>
        <p>Experience La Palma & El Tucan’s award winning processing techniques in a different region! The Neighbors & Crops model was established by La Palma & El Tucan to share innovating... </p>
      </div> 
    </article>
  </section>

 <!--HERO section-->
 <h1 class="component__name">Hero Section</h1>
 <section class="hero">
  <article class="component">
  
  <div class="component__img">
    <h6 class="component__label">image</h6>
    <img srcset="img/organisms/vc-o_hero_card2.png 2x" src="img/organisms/vc-o_hero_card2.png 2x" alt="hero section"/>
  </div>

  <div class="component__code">
  
    <!-- Hero Section from index-->
    
    <section class="hero-content-container">
      <div class="component__code">
        <h6 class="component__label">code</h6>
          <div class="hero-content-name">
            <h2>DELAGUA NEIGHBORS + CROPS</h2>
              <h3>Same varietal, process and region, different producers.</h3>
                <a href="https://venezianocoffee.com.au/shop/"> 
                  <h4> Explore Collection
                  <i class="fas fa-long-arrow-alt-right"></i>
                  </h4> 
                </a>
          </div>
          </div>
        <div class="hero-content-img">
          <img src="img/delaquacoffee_blogimage.png" alt="DelAqua Coffe bag">         
        </div> 
    <!-- End Hero Section from index-->  
</section>

<!--Blog section-->
<h1 class="component__name">Blog Section</h1>
 <section class="blog">
    <article class="component">
      <h6 class="component__label">image</h6>
    
    <h3 class="component__name">Blog Page</h3>
    <div class="component__img">
      <img srcset="img/molecues/vc-m_blog_unit.png 2x" src="img/molecues/vc-m_blog_unit.png 2x" alt="blog"/>
    </div>

    <div class="component__code">
        <h6 class="component__label">code</h6>
        
        <div class="blog__container">
          <img src="components/img/molecues/delaquacoffee_blogimage.png" alt="DelAqua Coffee bag"/>
          <h3>DelAqua Coffee - Neighbors & Crops</h3>
          <h4>News | 1 Nov 2019</h4>
          <p class="blog__copy">Experience La Palma & El Tucan's award winning processing techniques in a different region! The Neighbors & Crops model was established...
          </p> 
          <a href="#!" class="button--solid">Read More</a>
        </div>
      </div> 
  </article>
</section>

<!--Nav section-->

<section class="nav">
  <h1>Navigation</h1>
  <article class="component">
    <h2 class="component__name">Top Nav</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>
        <img srcset="img/organisms/vc-o-header.png 2x" src="img/organisms/vc-o-header.png 2x" alt="top nav"/>
      </div>

      <div class="component__code">
        <h6 class="component__label">code</h6>
        <div class="topnav">
          <a class="active" href="#home">Menu</a>
        <div class="topnavlink--main__img">
          <img src="../img/icon-grinder-tan.png" alt="grinder icon"/>

          <div class="topnavlogo__img">
          <img src="../img/VENEZIANO_logo teal.png" alt="veneziano logo"/>
          <div class="topnavlink--secondary__img">
          <img src="../img/icon-magglass-ltgray.png" alt="magnifying glass"/>
          <img src="../img/icon-cart-ltgray.png" alt="cart icon"/>
          <a href="#login">Log in</a>
          <a href="#signup">Sign Up</a>
        </div>
        </div>
        </div>
      </div>
  </div>
</article>

<!--Footer section-->
<h1>Footer</h1>
  <article class="component">
    <h2 class="component__name">Main Footer</h2>
      <div class="component__img">
        <h6 class="component__label">image</h6>

  <img srcset="img/organisms/vc-o_footer1.png 2x" src="img/organisms/vc-o_footer1.png 2x" alt="footer"/>
  </div>
      <div class="component__code">
      <div class="footer">
        <ul>
            <li>Wholesale</li>
            <li>Resources</li>
            <li>Barista Training</li>
            <li>Events</li>
            <li>Blog</li>
            <li>Shop</li>
            <li>Coffee Subscriptions</li>
            <li>Office coffee</li>
            <li>      </li>
            <li>      </li>
            <li>      </li>
            <li>      </li>
            <li>      </li>
            </ul>
        </div>
      </div>
    </article>
  </body>
  </html>