<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Components for Venezian Coffee Case Study </title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/normalize.css"/>
  </head>

  <body>
  <h1>Web Components for Venezian Coffee</h1>
  
  <h2>Typography Defaults</h2>

  <article class="component">
    <h3 class="component__name">body</h3>
    <div class="component__img">
    <img
      srcset="img/organisms/vc-o_hero_card2.png 2x" alt="body copy"/>
      </div>
        <div class="component__code">
        <h1>Never Run Out</h1>
         <p>Get coffee delivered straight to your home or <br> office, and save 
          with our subscriptions.</p> 
        <h2>Shop subscriptions</h2>
      </div> 
  </article>

  <article class="component">
      <h3 class="component__name">Headings (h1, h2, h3 & h4)</h3>
      <div class="component__img">
      <img srcset="img/atoms/vc-h1.png 2x" alt="h1"/>
      <img srcset="img/atoms/vc-h2.png 2x" alt="h2"/>
      <img srcset="img/atoms/vc-h3.png 2x" alt="h3"/>
      <img srcset="img/atoms/vc-h4.png 2x" alt="h4"/>
        </div>
          <div class="component__code">
          <h1>Latest News</h1>
          <h2>Shop Subscriptions</h2>
          <h3>DelAgua Coffee-Neighbors & Crops</h3>
          <h4>News | 1 Nov 2019</h4>
        </div> 
    </article>
  </body>
  </html>