<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Components for Venezian Coffee Case Study </title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/normalize.css"/>
  </head>

  <body>
  <h1>Web Components for Venezian Coffee</h1>
  
  <h2>Typography Defaults</h2>

  <article class="component">
    <h3 class="component__name">Hero Body</h3>
    <div class="component__img">
    <img srcset="img/organisms/vc-o_hero_card2.png 2x" src="img/organisms/vc-o_hero_card2.png 2x" alt="body copy"/>
      </div>
        <div class="component__code">
        <h1>Never Run Out</h1>
         <p>Get coffee delivered straight to your home or <br> office, and save 
          with our subscriptions.</p> 
        <h2>Shop subscriptions</h2>
      </div> 
  </article>

  <h2>Headings</h2>

  <article class="component">
      <h3 class="component__name">Headings (h1, h2, h3 & h4)</h3>
      <div class="component__img">
      <img srcset="img/atoms/vc-h1.png 2x" src="img/atoms/vc-h1.png 2x" alt="h1"/>
      <img srcset="img/atoms/vc-h2.png 2x" src="img/atoms/vc-h2.png 2x" alt="h2"/>
      <img srcset="img/atoms/vc-h3.png 2x" src="img/atoms/vc-h3.png 2x" alt="h3"/>
      <img srcset="img/atoms/vc-h4.png 2x" src="img/atoms/vc-h4.png 2x" alt="h4"/>
      </div>
          <div class="component__code">
          <h1>Latest News</h1>
          <h2>Shop Subscriptions</h2>
          <h3>DelAgua Coffee-Neighbors & Crops</h3>
          <h4>News | 1 Nov 2019</h4>
          </div> 
    </article>

    <h2>Sidebar</h2>
    <article class="component">
        <h3 class="component__name">Sidebar</h3>
        <div class="component__img">
        <img srcset="img/organisms/vc-o_sidebar.png 2x" alt="sidebar"/>
          </div>
            <div class="component__code">
            <div class="sidebar__container">
              
                <!--responsive sidebar stuff <div id="mySidenav" class="sidenav"> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
                <a href="#">Wholesale</a>
                <a href="#">Learn</a>
                <a href="#">Shop</a>
                <a href="#">About</a>
                <a href="#">Locations</a>
                <a href="#">Contact</a>
                <a href="#">Log In</a>
                <a href="#">Sign Up</a>
          </div> 
          </div> 
          </div>
        </article>

    <h2>Blog</h2>

    <article class="component">
    <h3 class="component__name">Blog Page</h3>
    <div class="component__img">
    <img srcset="img/molecues/vc-m_blog_unit.png 2x" src="img/molecues/vc-m_blog_unit.png 2x" alt="blog"/>
    </div>
        <div class="component__code">
        <div class="blog__container">
        <img src="../img/DelAquaCoffee_Blogimage.png" alt="DelAqua Coffee bag"/>
        <h3>DelAqua Coffee - Neighbors & Crops</h3>
        <h4>News | 1 Nov 2019</h4>
        <p class="blog__copy">Experience La Palma & El Tucan's award winning
          processing techniques in a different region! The
          Neighbors & Crops model was established...
        </p> 
        <a href="#!" class="button--solid">Read More</a>
        </div>
      </div> 
  </article>

  <h2>Top Nav</h2>

  <article class="component">
  <h3 class="component__name">Top Nav</h3>
  <div class="component__img">
  <img srcset="img/organisms/vc-o-header.png 2x" src="img/organisms/vc-o-header.png 2x" alt="top nav"/>
  </div>
      <div class="component__code">
      <div class="topnav">
          <a class="active" href="#home">Menu</a>
          <div class="topnavlink--main__img">
          <img src="../img/icon-grinder-tan.png" alt="grinder icon"/>

          <div class="topnavlogo__img">
          <img src="../img/VENEZIANO_logo teal.png" alt="veneziano logo"/>
          <div class="topnavlink--secondary__img">
          <img src="../img/icon-magglass-ltgray.png" alt="magnifying glass"/>
          <img src="../img/icon-cart-ltgray.png" alt="cart icon"/>
          <a href="#login">Log in</a>
          <a href="#signup">Sign Up</a>
        </div>
        </div>
        </div>
      </div>
      </div>
</article>
<h2>Footer</h2>

  <article class="component">
  <h3 class="component__name">Footer</h3>
  <div class="component__img">
  <img srcset="img/organisms/vc-o_footer1.png 2x" src="img/organisms/vc-o_footer1.png 2x" alt="footer"/>
  </div>
      <div class="component__code">
      <div class="footer">
        <ul>
            <li>
              Wholesale
            </li>
              <ul>
                  <li>Resources</li>
                  <li>Barista Training</li>
                  <li>Events</li>
                  <li>Blog</li>
              </ul>
        </ul>
        </div>
      </div>
    </article>
  </body>
  </html>