<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Components for Venezian Coffee Case Study </title>
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body>
  <h1>Web Components for Venezian Coffee</h1>
  
  <h2>Typography Defaults</h2>

  <article class="component">
    <h3 class="component__name">body</h3>
    <img
      srcset="img/organisms/vc-o_hero_card2.png" alt="body copy"/>
  </article>
  </body>
  </html>